@import "tailwindcss";

body {
    font-size: 15px;
}

@theme {
    --color-primary: #7269ef;
    --color-primary-hovered: #5d52f0;
    --color-secondary: #f5f7fb;
    --color-sidebar: #ffffff;
    --color-sidebar-sub: #f5f7fb;
    --color-sidebar-menu-item-active: #f7f7ff;
    --color-active-chat: #e6ebf5;
    --color-input: #e6ebf5;
    --color-item-menu-hover: #f8f9fa;
    --color-heading: #343a40;
    --color-body: #7a7f9a;
    --color-message-dark: #343a40;
    --color-message-white: #ffffff;
    --color-message-time: #ffffff80;
    --color-current-user-message: #f5f7fb;
    --color-scroll: #d1d5db;


    --default-font-family: "Public Sans", sans-serif;
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-scroll rounded-full;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-scroll;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }
}